<nav class="bg-blue-600 text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to 'Issues Tracker', root_path, class: "text-xl font-bold" %>
    <div class="space-x-4">
      <%= link_to 'Projects', projects_path, class: "hover:underline" %>
      <%= link_to 'View Charts', charts_path, class: " hover:underline" %>
    </div>
  </div>
</nav>